extends ../layout.pug

block layout-content
    .container-fluid.pt-5.menu-manager
        .title-header.p-3.pb-md-5.mx-auto.text-center
            h2.display-5.fw-normal.mb-0.page-title
                i.bi.bi-gear
                |  #{lang.pages.IMPOSTAZIONI}
        form#configForm
            //INFORMAZIONI VENDITORE
            .row.p3
                .col-12.mb-3
                    .row.p-3
                        h2.mt-5 #{lang.general.INFO_VENDITORE}
                        hr
                .col-6.mb-3
                    .row.d-flex.flex-wrap.p-3
                        h3 #{lang.general.NOME_VENDITORE}
                        .form-group
                            input#formVenditore.form-control.js-kioskboard-input(data-kioskboard-specialcharacters="true" type='text' style='height:50px' name="nome_venditore" value=config_venditore.nome_venditore data-config="info_venditore")

                .col-6.mb-3
                    .row.d-flex.flex-wrap.p-3
                        h3 #{lang.general.INDIRIZZO}
                        .form-group
                            input#formIndirizzo.form-control.js-kioskboard-input(data-kioskboard-specialcharacters="true" type='text' style='height:50px' name="indirizzo_venditore" value=config_venditore.indirizzo_venditore data-config="info_venditore")
                    .row.d-flex.flex-wrap.p-3
                        h3 #{lang.general.LOCALITA}
                        .form-group
                            input#formLocalita.form-control.js-kioskboard-input(data-kioskboard-specialcharacters="true" type='text' style='height:50px' name="localita_venditore" value=config_venditore.localita_venditore data-config="info_venditore")


            /////////////////// ----------------------------


            //CONTATTI VENDITORE
            .row.p3
                .col-12.mb-3
                    .row.p-3
                        h2.mt-5 #{lang.general.CONTATTI_VENDITORE}
                        hr
                .col-6.mb-3
                    .row.d-flex.flex-wrap.p-3
                        h3 #{lang.general.EMAIL}
                        .form-group
                            input#formEmailVenditore.form-control.js-kioskboard-input(data-kioskboard-specialcharacters="true" type='text' style='height:50px' name="email_venditore" value=config_venditore.email_venditore data-config="info_venditore")

                .col-6.mb-3
                    .row.d-flex.flex-wrap.p-3
                        h3 #{lang.general.TELEFONO}
                        .form-group
                            input#formTelefonoVenditore.form-control.js-kioskboard-input(data-kioskboard-specialcharacters="true" type='text' style='height:50px' name="telefono_venditore" value=config_venditore.telefono_venditore data-config="info_venditore")
                    .row.d-flex.flex-wrap.p-3
                        h3 #{lang.general.FAX}
                        .form-group
                            input#formFaxVenditore.form-control.js-kioskboard-input(data-kioskboard-specialcharacters="true" type='text' style='height:50px' name="fax_venditore" value=config_venditore.fax_venditore data-config="info_venditore")




            //ORARIO VENDITORE
            .row.p3
                .col-12.mb-3
                    .row.p-3
                        h2.mt-5 #{lang.general.ORARI}
                        hr
                .col-6.mb-3
                    .row.d-flex.flex-wrap.p-3
                        .form-group.col-md-6
                            label #{lang.general.LUNEDI}
                            input#formlune.form-control.js-kioskboard-input(data-kioskboard-specialcharacters="true" type='text' style='height:50px' name="orario_lun" value=config_venditore.orario_lun data-config="info_venditore")
                        .form-group.col-md-6
                            label #{lang.general.MARTEDI}
                            input#formmarte.form-control.js-kioskboard-input(data-kioskboard-specialcharacters="true" type='text' style='height:50px' name="orario_mar" value=config_venditore.orario_mar data-config="info_venditore")
                        .form-group.col-md-6.mt-2
                            label #{lang.general.MERCOLEDI}
                            input#formmercole.form-control.js-kioskboard-input(data-kioskboard-specialcharacters="true" type='text' style='height:50px' name="orario_mer" value=config_venditore.orario_mer data-config="info_venditore")
                        .form-group.col-md-6.mt-2
                            label #{lang.general.GIOVEDI}
                            input#forgiove.form-control.js-kioskboard-input(data-kioskboard-specialcharacters="true" type='text' style='height:50px' name="orario_gio" value=config_venditore.orario_gio data-config="info_venditore")
                .col-6.mb-3
                    .row.d-flex.flex-wrap.p-3
                        .form-group.col-md-6
                            label #{lang.general.VENERDI}
                            input#formvene.form-control.js-kioskboard-input(data-kioskboard-specialcharacters="true" type='text' style='height:50px' name="orario_ven" value=config_venditore.orario_ven data-config="info_venditore")
                        .form-group.col-md-6
                            label #{lang.general.SABATO}
                            input#formsab.form-control.js-kioskboard-input(data-kioskboard-specialcharacters="true" type='text' style='height:50px' name="orario_sab" value=config_venditore.orario_sab data-config="info_venditore")
                        .form-group.col-md-6.mt-2
                            label #{lang.general.DOMENICA}
                            input#formdom.form-control.js-kioskboard-input(data-kioskboard-specialcharacters="true" type='text' style='height:50px' name="orario_dom" value=config_venditore.orario_dom data-config="info_venditore")



            /////////////////// ----------------------------

            //INFORMAZIONI MACCHINA

            .row.p-3
                .col-12.mb-3
                    .row.p-3
                        h2.mt-5 #{lang.general.INFO_MACCHINA}
                        hr
                .col-6.mb-3
                    .row.p-3
                        h3 #{lang.general.DATA_ORA}
                        .form-group.col-md-6.mt-3
                            label #{lang.general.ORA}
                            input#formOra.form-control.js-kioskboard-input(data-kioskboard-specialcharacters="true" type='text' style='height:50px')
                        .form-group.col-md-6.mt-3
                            label #{lang.general.DATA}
                            input#formData.form-control.js-kioskboard-input(data-kioskboard-specialcharacters="true" type='text' style='height:50px')
                    .row.p-3
                        h3 #{lang.general.TIMER}
                        .form-group.col-md-6.mt-3
                            label #{lang.general.TEMPO_VENDITA}
                            input#formTimerVend.form-control.js-kioskboard-input(data-kioskboard-specialcharacters="true" type='text' style='height:50px' name="timer_vendita" value=''+ config.timer_vendita data-config="generali")
                        .form-group.col-md-6.mt-3
                            label #{lang.general.TEMPO_MANAGER}
                            input#formTimerManager.form-control.js-kioskboard-input(data-kioskboard-specialcharacters="true" type='text' style='height:50px' name="timer_manager" value='' + config.timer_manager data-config="generali")
                        .form-group.col-md-12.mt-3
                            label #{lang.general.PAGINA_PRICNIPALE}
                            input#formTimerPaginaPrincipale.form-control.js-kioskboard-input(data-kioskboard-specialcharacters="true" type='text' style='height:50px' name="timer_pagina_principale" value='' + config.timer_pagina_principale data-config="generali")
                    .row.p-3
                        h3 #{lang.general.VENTILAZIONE}
                        .form-group.col-md-6.mt-3
                            input#formVentilazione.form-control.js-kioskboard-input(data-kioskboard-specialcharacters="true" type='text' style='height:50px')

                .col-6.mb-3
                    .row.p-3
                        h3 #{lang.general.LINGUA_SITEMA}
                        .form-group.col-8.mt-3
                            label #{lang.general.LINGUA_MANAGER}
                            select#formLingua(name="default_lang" data-config="generali")
                                each lingua in lingue
                                    option(value=lingua.code selected=lingua.code === config.default_lang) #{lingua.label}
                        .form-group.col-8.mt-3
                            label #{lang.general.LINGUA_CLIENT}
                            select#formLingua(name="client_lang" data-config="generali")
                                each lingua in lingue
                                    option(value=lingua.code selected=lingua.code === config.client_lang) #{lingua.label}
                    .row.p-3
                        h3 #{lang.general.VALIDITA_TICKET}
                        .form-group.col-md-6.mt-3
                            label #{lang.general.SETTIMANE}
                            input#formValiditaTicket.form-control.js-kioskboard-input(data-kioskboard-specialcharacters="true" type='text' style='height:50px' name="validita_ticket_settimane" value='' + config.validita_ticket_settimane data-config="generali")



            /////////////////// ----------------------------

            //INFORMAZIONI MACCHINA

            .row.p-3
                .col-12.mb-3
                    .row.p-3
                        h2.mt-5 #{lang.general.VOLUME}
                        hr
                .col-12.mb-3
                    .row.p-3
                        div#volume-bar
                            div.volume
                                input#volumeInterfaccia(min="0" max="1" step="0.1" type='range' style='height:50px' name="volume_interfaccia" value='' + config.volume_interfaccia data-config="generali")
                                span#volume__val #{(config.volume_interfaccia*100)}%
                    


            /////////////////// ----------------------------

            //INFORMAZIONI PAGAMENTI

            .row.p-3
                .col-12
                    .row.p-3
                        h2.mt-5 #{lang.general.INFO_PAGAMENTI}
                        hr
                .col-6.mb-3
                    .row.p-3
                        h3 #{lang.general.SATISPAY}
                        .form-group.mt-2
                            label(for='formToken') #{lang.general.TOKEN}
                            input#formToken.form-control.js-kioskboard-input(data-kioskboard-specialcharacters="true" type='text' style='height:50px')
                        .form-group.mt-2
                            h3.mt-5 #{lang.general.ABILITA_PAGAMENTO}
                                .form-group.col-md-6
                                    input#autoSizingCheck0.form-check-input.js-kioskboard-input(data-kioskboard-specialcharacters="true" type='checkbox' style='height:50px; width:50px')
                                    label.form-check-label(for='autoSizingCheck0')
                .col-6.mb-3
                    .row.p-3
                        h3  #{lang.general.OPZIONI_RESTO}
                        .form-group.col-md-6.mt-2
                            label(for='formRestoMax') #{lang.general.RESTO_MAX}
                            input#formRestoMax.form-control.js-kioskboard-input(data-kioskboard-specialcharacters="true" type='text' style='height:50px' name="resto_max" value=config.resto_max data-config="generali")
                        .form-group.mt-2
                            h3.mt-5 #{lang.general.EROGA_RESTO_MAX}
                                .form-group.col-md-6
                                    input#autoSizingCheck2.form-check-input(type='checkbox' style='height:50px; width:50px' name="resto_abilitato" data-config="generali" value=config.resto_abilitato onclick="clickCheck('autoSizingCheck2')")
                                    label.form-check-label(for='autoSizingCheck2')


                    //.row.d-flex.flex-wrap.mt-5
                        p Hoppers
                        .col
                            p Valore hopper 1
                            .form-group
                                label(for='formValHop1')
                                input#formValHop1.form-control(type='text', style='height:50px')
                            p.mt-2 Pieno
                            .form-check.px-5.d-flex.flex-wrap
                                input#autoSizingCheck3.form-check-input(type='checkbox')
                                label.form-check-label(for='autoSizingCheck3')

                        .col
                            p Valore hopper 2
                            .form-group
                                label(for='formValHop2')
                                input#formValHop2.form-control(type='text', style='height:50px')
                            p.mt-2 Pieno
                            .form-check.px-5.d-flex.flex-wrap
                                input#autoSizingCheck4.form-check-input(type='checkbox')
                                label.form-check-label(for='autoSizingCheck4')


            .row.justify-content-center.mt-5.mb-5.actions-buttons
                    .col-4.mt-5.text-center
                        a.w-100.btn.btn-lg.btn-success.mb-1.p-4(onclick="saveConfig('configForm', 'config')")
                                i.bi.bi-check-circle.me-3
                                span Salva
    style.
        .btn-primary {
            font-size: 2rem !important;
            height: 60px !important;
            line-height: 60px !important;
            padding: 0 30px !important;
            border: none !important;
        }
        
        .volume {
          display: flex;
          align-items: center;
          justify-content: space-between;
          max-width: 100%;
        }

        .input-wrapper {
          min-width: 250px;
          background: lightgrey;
          border: 1px solid grey;
          padding: 1rem;
        }
        select{
            width:100%;
        }

        input[type="range"] {
          display: block;
          width: 70%;
          margin: 0 auto;
        }

        input#volumeInterfaccia {
            width: 100%;
            margin: 0 10px 0 0;
            padding: 0;
        }



    script.

        document.querySelectorAll('input[type=checkbox]')
            .forEach(function (item) {
                if (item.value == 1) {
                    item.checked = true
                }
            })

        clickCheck = (id) => {
            let check = document.getElementById(id);
            console.log(check.checked)
            if(check.checked == 1){
                check.value = 1
            }else{
                check.value = 0
            }
        }

        const rangeInput = document.getElementById("volumeInterfaccia");
        const output = document.getElementById("volume__val");

        rangeInput.addEventListener("input", () => {
            const value = rangeInput.value;
            output.textContent = value*100 + '%';
        });


